<div class="login-form container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 d-none d-md-block">
      <img src="assets/login.png" alt="Login Image" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-7">
      <div class="form-container">
        <p class="title">Login</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" placeholder="" />
            <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)" class="alert alert-danger">
              Username is required.
            </div>
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="" />
            <div class="forgot">
              <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="alert alert-danger">
              Password is required.
            </div>
          </div>
          <button type="submit" class="sign" [disabled]="loginForm.invalid">
            Sign in
          </button>
          <div *ngIf="errorMessage" class="alert alert-danger text-center">
            {{ errorMessage }}
          </div>
        </form>
        <div class="social-message">
          <div class="line"></div>
          <p class="message">Login with social accounts</p>
          <div class="line"></div>
        </div>
        <div class="social-icons">
          <button aria-label="Log in with Google" class="icon">
            <!-- SVG for Google -->
          </button>
          <button aria-label="Log in with Twitter" class="icon">
            <!-- SVG for Twitter -->
          </button>
          <button aria-label="Log in with GitHub" class="icon">
            <!-- SVG for GitHub -->
          </button>
        </div>
        <p class="signup">Don't have an account?
          <a rel="noopener noreferrer" routerLink="/register" class="">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
