<h2>Product List</h2>
<div *ngIf="products$ | async as products; else loading">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <ng-container *ngIf="editingProduct?.id === product.id; else viewMode">
          <td><input [(ngModel)]="editingProduct!.id" disabled></td>
          <td><input [(ngModel)]="editingProduct!.productName"></td>
          <td><input [(ngModel)]="editingProduct!.description"></td>
          <td><input [(ngModel)]="editingProduct!.price" type="number"></td>
          <td>
            <button (click)="updateProduct()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
          </td>
        </ng-container>
        <ng-template #viewMode>
          <td>{{ product.id }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <button (click)="startEdit(product)">Edit</button>
            <button (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <p>Loading products...</p>
</ng-template>

