
<div class="container menu-section">
    <h2 class="menu-title">Delicious Food Menu</h2>
    <div class="menu-categories">
        <a href="#" class="active">Special</a>
        <a href="#">Breakfast</a>
        <a href="#">Lunch</a>
        <a href="#">Dinner</a>
        <a href="#">Snacks</a>
    </div>
    <div class="row">
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/HD-wallpaper-burgers-fast-food-delicious-food-sandwiches-harmful-food.jpg"
                    alt="Pork Sandwich">
                <div>
                    <h5>Pork Sandwich</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/HD-wallpaper-cakes-food-cake-fruit-caramel-dessert-sweet.jpg" alt="Easter Delight">
                <div>
                    <h5>Easter Delight</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/HD-wallpaper-chocolate-cake-cake-food-chocolate-black-sweet-dessert.jpg"
                    alt="Roasted Marrow">
                <div>
                    <h5>Roasted Marrow</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/HD-wallpaper-food-brownie.jpg" alt="Tiener Schnitze">
                <div>
                    <h5>Tiener Schnitze</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/pngtree-photo-of-kfc-fried-chicken-wings-image_1025919.jpg" alt="Summer Cooking">
                <div>
                    <h5>Summer Cooking</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 menu-category">
            <div class="menu-item">
                <img src="/assets/pngtree-3d-rendering-of-delicious-ice-cream-image_3767223.jpg" alt="Chicken Roast">
                <div>
                    <h5>Chicken Roast</h5>
                    <p>They're wherein heaven seed hath nothing.</p>
                    <span class="price">$40.00</span>
                    <button class="btn add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>