<!-- 
<nav class="navbar primary-nav">
  <a href="#" class="logo">Culture Colombo</a>
  <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Menu</a>
      <a href="#">Gallery</a>
      <a href="#">Reservation</a>
      <a href="#">Login</a>
      <a href="#">Contact</a>
  </div>
</nav>



<header class="hero">
  <h1>It's time to enjoy Authentic Sri Lankan Cuisine</h1>
  <p>We take reservations for lunch and dinner. To make a reservation, please call us between 10am-6pm, Monday to Friday.</p>
  <p>We do not book the bar area – we leave this for walk-in guests to ensure that we always offer some tables for those who have not booked.</p>
  <p><strong>Phone:</strong> (001) 123456789 - 234567891</p>
</header>
<router-outlet></router-outlet> -->
