/* Custom CSS for Angular Header */
.navbar {
  background-color: #0f6666;
  padding: 20px;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav .nav-link {
  color: #f0e68c;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-toggler {
  border-color: #f0e68c;
}

.navbar-toggler-icon {
  color: #f0e68c;
}

.dropdown-menu {
  background-color: #0f6666;
  border: none;
}

.dropdown-item {
  color: #f0e68c;
}

.dropdown-item:hover {
  background-color: #2f4f4f;
  color: #f0e68c;
}

@media (max-width: 768px) {
  .navbar-nav {
      text-align: center;
  }

  .navbar-toggler {
      background-color: #0f6666;
  }
}
