<nav class="navbar navbar-expand-lg navbar-dark bg-indigo">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/Screenshot 2024-08-12 010307.png" alt="logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <!-- More nav items -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="booking">Booking</a></li>
            <li><a class="dropdown-item" routerLink="dashboard">Dashboard</a></li>
            <!-- More dropdown items -->
          </ul>
        </li>
        <!-- Login and Register -->
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Payment">Pay</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>