<div class="sidebar">
    <div class="logo">Shomus Food</div>
    <div class="menu-item">
      <a routerLink="/product-management" routerLinkActive="active">Product Management</a>
    </div>
    <div class="menu-item">
      <a routerLink="/customer-management" routerLinkActive="active">Customer Management</a>
    </div>
    <div class="menu-item">
      <a routerLink="/payment-management" routerLinkActive="active">Payment Management</a>
    </div>
    <div class="menu-item">
      <a routerLink="/order-management" routerLinkActive="active">Order Management</a>
    </div>
    <div class="menu-item">
      <a routerLink="/staff-management" routerLinkActive="active">Staff Management</a>
    </div>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  