<div class="register-wrapper">
  <div class="register-container container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12 d-flex">
        <div class="register-image">
          <img src="/assets/login.png" class="img-fluid">
        </div>
        <div class="register-form-container">
          <div class="card">
            <div class="card-header text-center">
              <h2>Register</h2>
            </div>
            <div class="card-body p-5">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                  <label for="username" class="form-label">Username:</label>
                  <input
                    type="text"
                    id="username"
                    formControlName="username"
                    class="form-control"
                  />
                  <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
                    Username is required.
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="form-label">Password:</label>
                  <input
                    type="password"
                    id="password"
                    formControlName="passwordHash"
                    class="form-control"
                  />
                  <div *ngIf="passwordHash?.invalid && (passwordHash?.dirty || passwordHash?.touched)" class="alert alert-danger">
                    Password is required.
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="email" class="form-label">Email:</label>
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control"
                  />
                  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                    Valid email is required.
                  </div>
                </div>
                <div class="form-group text-center mb-4">
                  <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">
                    Register
                  </button>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger text-center">
                  {{ errorMessage }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
